<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset-"utf-8">
        <title>Ejemplo</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="../node_modules/angular/angular.js"></script>
        <script src="../Acumulador_Modulos/js/app.js"></script>
        <script src="../Acumulador_Modulos/js/acumuladorController.js"></script>
    </head>
    <body ng-app="acumulador" ng-controller="AcumuladorController as vm">
        <form>
            <p>
                <label for="inputName">Incremento</label>
                <input id='inputName' type="text" ng-model="vm.incremento"></input>
            </p>
            <p>
                <button ng-click="vm.sumarAcumulador()">+</button>
            </p>
            <p>
                <button ng-click="vm.restarAcumulador()">-</button>
            </p>
        </form>
        <p>Total {{vm.total}} </p>
    </body>
</html>