<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset-"utf-8">
        <title>Hola Mundo Controller</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="../node-modules/angular/angular.js"></script>
        <script src="./app.js"></script>
    </head>
    <body ng-app="appMain" ng-controller="AppController">
        <form>
            <p>
                <label for="inputName">Nombre</label>
                <input id='inputName' type="text" ng-model="user.name"></input>
            </p>
            <p>
                <button ng-click="borrar()">Borrar</button>
            </p>
        </form>
        <p>Bienvenido al curso de {{curso}} </p>
        <p>Hola {{user.name}}</p>
    </body>
</html>